<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B i t e W a y s</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/BiteWays.css">
</head>
<body>
<div class="container">
    <div style="width: 100%; text-align: center;position: relative" class="bg-secondary">
        <a class="navbar-brand" href="index.html"><i class="fas fa-utensils"></i> BiteWays API</a>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav  d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="Menu.html">
                            <i class="fas fa-table"></i> Menus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Recipe.html">
                            <i class="fas fa-utensils"></i> Recipes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ingredient.html">
                            <i class="fas fa-carrot"></i> Ingredients
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-menu.html">
                            <i class="fas fa-plus-circle"></i> Add Menu
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-recipe.html">
                            <i class="fas fa-plus-circle"></i> Add Recipe
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-ingredient.html">
                            <i class="fas fa-plus-circle"></i> Add Ingredient
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-8">
            <div id="app">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="font-monospace" >Create New Menu</h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3" v-for="(recipe, index) in menuData.recipeList" :key="index">
                            <div class="col-4 day">
                                {{
                                ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][index]
                                }}
                            </div>
                            <div class="col-8 recipe">
                                {{ recipe.name }}
                            </div>
                            <input :id="'recipe-' + index" class="form-control" :name="'recipe-' + index"
                                   :value="recipe.name" type="hidden">
                            <input type="hidden" :name="'recipe-' + index + '-id'" :value="recipe.id">
                            <input type="hidden" :name="'recipe-' + index + '-ingredients'"
                                   :value="JSON.stringify(recipe.ingredients)">
                        </div>
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label fw-bold">Name</label>
                                <input type="text" class="form-control" name="name" v-model="menuData.name" required>
                                <span v-if="!menuData.name" id="name-warning"
                                      class="text-danger">Name is required</span>
                            </div>
                            <button type="submit" class="btn btn-secondary" @click.prevent="submitForm()">
                                <i class="fas fa-save mr-2"></i>
                                Save
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            menuData: {
                name: '',
                recipeList: []
            }
        },
        created() {
            fetch('http://localhost:8080/api/biteways/menu/createmenu')
                .then(response => response.json())
                .then(jsonData => {
                    // modify the jsonData to match the expected format
                    let formattedData = {
                        id: jsonData.id,
                        name: jsonData.name,
                        recipeList: jsonData.recipeList.map(recipe => {
                            return {
                                id: recipe.id,
                                name: recipe.name,
                                instructions: recipe.instructions,
                                downloaded: recipe.downloaded,
                                ingredientList: recipe.ingredientList.map(ingredient => {
                                    return {
                                        id: ingredient.id,
                                        name: ingredient.name,
                                        quantity: ingredient.quantity,
                                        unitType: ingredient.unitType
                                    };
                                })
                            };
                        })
                    };
                    this.menuData = formattedData;
                })
                .catch(error => console.error(error));
        },
        methods: {
            submitForm() {
                if (!this.menuData.name) {
                    $('#name-warning').show();
                } else {
                    $('#name-warning').hide();
                    console.log('this.menuData:', this.menuData);
                    const data = this.menuData;
                    fetch('http://localhost:8080/api/biteways/menu', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(jsonData => {
                            window.location.href = "Menu.html";
                        })
                        .catch(error => console.error(error));
                }
            }
        }
    });
</script>


</body>
</html>