<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B i t e W a y s</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/BiteWays.css">
</head>
<body>
<div class="container">
    <div style="width: 100%; text-align: center;position: relative" class="bg-secondary">
        <a class="navbar-brand" href="index.html"><i class="fas fa-utensils"></i> BiteWays API</a>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav  d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="Menu.html">
                            <i class="fas fa-table"></i> Menus
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Recipe.html">
                            <i class="fas fa-utensils"></i> Recipes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Ingredient.html">
                            <i class="fas fa-carrot"></i> Ingredients
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-menu.html">
                            <i class="fas fa-plus-circle"></i> Add Menu
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-recipe.html">
                            <i class="fas fa-plus-circle"></i> Add Recipe
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="add-ingredient.html">
                            <i class="fas fa-plus-circle"></i> Add Ingredient
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-8">
            <div id="app">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="h3 mt-2 mb-2 font-monospace mb-4" v-text="'update '+recipe.id+'. '+recipe.name"></h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="fw-bold">Ingredients</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Type</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="ingredient in ingredientList" :key="ingredient.id">
                                    <td>{{ ingredient.id }}</td>
                                    <td>{{ ingredient.name }}</td>
                                    <td>{{ ingredient.quantity }}</td>
                                    <td>{{ ingredient.unitType }}</td>
                                    <td>
                                        <button @click="updateIngredient(ingredient.id)" class="btn btn-outline-info">
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                        <button @click="deleteIngredient(ingredient.id)" class="btn btn-light">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <button @click="addIngredientToRecipe(recipe.id)"
                                        class="btn btn-outline-secondary fw-bold mt-2 mb-3">
                                    <i class="fas fa-plus"></i> Add Ingredient
                                </button>

                            </div>
                        </div>
                        <form>
                            <input type="hidden" name="id" v-model="recipe.id">
                            <div class="mb-3">
                                <label for="name" class="form-label fw-bold">Name</label>
                                <input type="text" class="form-control" name="name" v-model="recipe.name">
                            </div>
                            <div class="mb-3">
                                <label for="instructions" class="form-label fw-bold">Instructions</label>
                                <textarea class="form-control" name="instructions" v-model="recipe.instructions"
                                          maxlength="600"
                                          rows="10" cols="30" required></textarea>
                                <span v-if="!recipe.instructions" id="instructions-warning" class="text-danger">Instructions are required</span>
                            </div>
                            <button type="submit" class="btn btn-danger" style="opacity: 0.8" @click.prevent="updateRecipe()">
                                <i class="fas fa-save me-2"></i>Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            recipe: {},
            ingredientList: []
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                const getQueryString = () => {
                    const urlParams = new URLSearchParams(window.location.search);
                    return Object.fromEntries(urlParams.entries());
                }

                const id = getQueryString().id;
                fetch(`http://localhost:8080/api/biteways/recipe/${id}`, {
                    method: 'GET',
                    headers: {}
                })
                    .then(response => {
                        response.json().then(res => {
                            this.recipe = res;
                            this.$set(this, 'ingredientList', res.ingredientList);
                        });
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            updateRecipe() {
                const getQueryString = () => {
                    const urlParams = new URLSearchParams(window.location.search);
                    return Object.fromEntries(urlParams.entries());
                }

                const id = getQueryString().id;
                const formData = $('form').serializeArray();
                const recipe = formData.reduce((obj, item) => {
                    obj[item.name] = item.value;
                    return obj;
                }, {});

                fetch(`http://localhost:8080/api/biteways/recipe/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(recipe)
                })
                    .then(() => {
                        window.location.href = `recipe-details.html?id=${id}`;
                    })
                    .catch(err => {
                        console.error(err);
                    });
            },
            updateIngredient(id) {
                const getQueryString = () => {
                    const urlParams = new URLSearchParams(window.location.search);
                    return Object.fromEntries(urlParams.entries());
                }

                const recipeId = getQueryString().id;
                window.location.href = `update-ingredient.html?id=${id}&url=update-recipe&recipeId=${recipeId}`;
            },
            deleteIngredient(id) {
                if (this.ingredientList && this.ingredientList.length) {
                    fetch(`http://localhost:8080/api/biteways/ingredient/${id}`, {
                        method: 'DELETE',
                        headers: {}
                    })
                        .then(() => {
                            this.ingredientList = this.ingredientList.filter(ingredient => ingredient.id !== id);
                            window.location.reload();
                        })
                        .catch(err => {
                            console.error(err);
                        });
                }
            },
            addIngredientToRecipe(id) {
                window.location.href = `add-ingredient.html?id=${id}&callerUrl=update-recipe`;
            }
        }
    });
</script>

</body>
</html>